<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/"
      xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>n/a</title>

    <th:block th:fragment="sandboxStyles(static)">
        <link rel="stylesheet" th:href="${static + '/sandbox/codemirror_ambiance.min.css'}" />
    </th:block>
</head>
<body>

    <th:block th:fragment="sandbox">
        <div class="sandbox no-pad mdl-grid mdl-grid--no-spacing" th:attr="data-task=${task.basicInfo.id}">

            <div class="mdl-cell mdl-cell--12-col-tablet mdl-cell--7-col">
                <textarea class="editor" th:text="${task.technicalInfo.initialCode}"></textarea>

                <button type="submit" th:text="#{sandbox.run}" v-on:click="run" v-bind:disabled="running"
                        class="content-margin m-r-0 mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect"></button>
                <button type="button" th:text="#{sandbox.reportError}" v-on:click="reportError"
                        class="content-margin mdl-button mdl-button--raised mdl-js-button mdl-js-ripple-effect"></button>
            </div>

            <div class="mdl-cell mdl-cell--12-col-tablet mdl-cell--5-col ">
                <div class="content-padding-top messages" onClick="$(this).closest('.sandbox').find('.cin').focus();">
                    <pre v-for="message in messages" class="content-padding runtime-{{ message.type | lowercase }}">{{ message.data }}</pre>
                </div>

                <form v-on:submit="send" th:if="${task.technicalInfo.allowSystemIn}">
                    <input class="cin" type="text" placeholder="System.in" v-bind:readonly="!running" v-model="systemIn" />
                    <input type="submit" value="⏎" v-bind:disabled="!running" />
                </form>
            </div>
        </div>
    </th:block>

    <th:block th:fragment="sandboxScripts(static)">
        <dialog class="mdl-dialog" id="sandbox_reportError">
            <h4 class="mdl-dialog__title" th:text="#{sandbox.errorReport.caption}"></h4>
            <form method="post"
                  th:action="@{~/task/report}"
                  th:inline="text"
                  th:attr="data-success-message=#{sandbox.errorReport.successMessage},
                            data-error-message=#{sandbox.errorReport.errorMessage}">
                <div class="mdl-dialog__content">
                    <label class="mdl-radio mdl-js-radio">
                        <input type="radio" name="errorKind" value="RIGHT_SOLUTION_NOT_ACCEPTED"
                               class="mdl-radio__button" /> [[#{sandbox.errorKind.rightSolutionNotAccepted}]]
                    </label>
                    <label class="mdl-radio mdl-js-radio">
                        <input type="radio" name="errorKind" value="BAD_CONDITION"
                               class="mdl-radio__button" /> [[#{sandbox.errorKind.badCondition}]]
                    </label>
                    <label class="mdl-radio mdl-js-radio">
                        <input type="radio" name="errorKind" value="INSUFFICIENT_MATERIAL"
                               class="mdl-radio__button" /> [[#{sandbox.errorKind.insufficientMaterial}]]
                    </label>
                    <label class="mdl-radio mdl-js-radio">
                        <input type="radio" name="errorKind" value="OTHER"
                               class="mdl-radio__button" /> [[#{sandbox.errorKind.other}]]
                    </label>
                    <div class="mdl-textfield mdl-js-textfield">
                        <textarea id="sandbox_errorReport_text" name="text" class="mdl-textfield__input"></textarea>
                        <label class="mdl-textfield__label" for="sandbox_errorReport_text">[[#{sandbox.errorReport.text.placeholder}]]</label>
                    </div>
                    <input type="hidden" name="taskId" />
                </div>
                <div class="mdl-dialog__actions">
                    <button type="submit" class="mdl-button mdl-js-button mdl-js-ripple-effect">[[#{sendButton}]]</button>
                    <button type="button" class="mdl-button mdl-js-button mdl-js-ripple-effect close">[[#{cancelButton}]]</button>
                </div>
            </form>
        </dialog>

        <script th:src="${static + '/sandbox/codemirror_clike_sandbox.min.js'}" type="text/javascript"></script>
        <script type="text/javascript" th:inline="javascript">
            var sandboxLocale = {
                exitCode: /*[[#{sandbox.exitCode}]]*/ "Exit code:",
                noRequiredVar: /*[[#{sandbox.varNotFound}]]*/ "Required variable {0} of type {1} is not found.",
                noRequiredEq: /*[[#{sandbox.eqNotFound}]]*/ "Required equation of value {1} to variable {0} is not found.",
                illegalOutput: /*[[#{sandbox.illegalOutput}]]*/ "Wrong solution. Expected output:",
                correctSolution: /*[[#{sandbox.correctSolution}]]*/ "The solution is correct.",
                notMatches: /*[[#{sandbox.notMatches}]]*/ "The solution does not match."
            };
        </script>
    </th:block>

</body>
</html>