/* main */
body {
    margin: 0;
    line-height: 1.4em;
    position: absolute;
    height: 100%;
    font-family: 'PT Sans', sans-serif;
}

/* blocks */
body > div {
    margin-left: 200px;
    padding: 16px 0;
}
.pad {
    padding: 0 16px;
}

/* lists */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.padded-lis > li > *, .pad-h {
    padding: 0 16px;
}

ul.sortable > li.placeholder {
    height: 1.5em;
    background-color: rgba(51, 102, 170, .2);
}

/* tables */
form > table {
    padding: 0 16px;
}

/* forms */
textarea {
    width: 100%;
}

/* links */
a:link, a:visited {
    color: #3366AA;
    display: block;
}
a:hover, a:active {
    color: #F6F6F6;
    background-color: rgba(51, 102, 170, .5);
    outline: 0;
}

/* panel at the left */
#sidebar {
    background-color: rgba(0, 0, 0, .1);
    position: fixed;
    overflow-y: auto;
    width: 200px;
    margin: 0;
    top: 0;
    bottom: 0;
}

/* code */
.wysiwyg .editor {
    min-height: 400px;
}
.wysiwyg + div {
    margin: 4px 0;
    padding: 10px 0;
    border: 1px solid #DDD;
    max-height: 400px;
    overflow-y: auto;
}
.wysiwyg + div > :not(pre) {
    padding: 10px;
}
.wysiwyg + div pre {
    background: #2b2b2b;
    color: #bababa;
    padding: 10px;
    margin: 0;
}

/* to do */
.todo {

}
.todo.todo-done {
    text-decoration: line-through;
}