<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout}"
      th:with="title = ${chapter.meta.title}">
<body>

<th:block layout:fragment="head" th:replace="fragments/common :: meta(model = ${chapter.meta})" />

<th:block layout:fragment="content">

    <div class="content card mdl-shadow--8dp">
        <nav>
            <a th:href="@{~/}" th:text="#{index.title}"></a> /
            <a th:href="@{~/материалы/}" th:text="#{tree.header}"></a> /
            <a th:replace="fragments/content :: linkToCourse(course=${course.basicInfo})"></a>
        </nav>

        <main>
            <h1 th:text="${chapter.h1}" class="content-padding-v"></h1>

            <th:block th:utext="${chapter.description}" />
        </main>

        <nav>
            <ul th:replace="fragments/content :: lessonsTree(lessons = ${chapterTree.lessons})"></ul>
        </nav>

        <nav th:replace="fragments/content :: prevNext(${urlOfChapter}, ${previousChapter}, ${nextChapter}, #{chapter.previous}, #{chapter.next})"></nav>
    </div>

</th:block>

</body>
</html>