<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      th:with="title = ${page.meta.title}, head = ${page.headMarkup}">

<head>

    <th:block layout:fragment="head" th:replace="~{fragments/common :: meta(model = ${page.meta})}" />

</head>

<body>

    <th:block layout:fragment="content">

        <!-- todo: move layout from Index page here -->
        <th:block th:utext="${page.bodyMarkup}" />

    </th:block>

    <th:block layout:fragment="scripts">
        <th:block th:utext="${page.beforeBodyEndMarkup}" />
    </th:block>

</body>

</html>
