<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />

    <title th:if="${title} == null" th:text="#{title}"></title>
    <title th:if="${title} != null" th:inline="text">[[${title}]] — [[#{title}]]</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- fonts & icons -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Tenor+Sans%7CPT+Sans+Caption%7CMaterial+Icons" />
    <!-- mdl, dialog polyfill, highlight darkula, custom styles, sandbox, trace -->
    <link th:href="${static + '/css/main.min.css'}" rel="stylesheet" />

    <th:block th:if="${head}" th:utext="${head}" />

    <th:block layout:fragment="head" />
</head>
<body>

    <th:block layout:fragment="content" />

    <button id="up-button" class="mdl-button mdl-js-button mdl-button--fab">
        <i class="material-icons">keyboard_arrow_up</i>
    </button>

    <!-- Vue.js, Zepto, Material Design Lite, dialog polyfill, highlight.js, trace, scroll to top, blur link on click,
    mdl tabs fix to work with url #fragment, async form handling -->
    <script type="text/javascript" th:src="${static + '/js/vue_zepto_mdl_dialog_highlight_trace_scroll_unfocus_tabs_form.min.js'}"></script>

    <div id="toast-container" class="mdl-js-snackbar mdl-snackbar">
        <div class="mdl-snackbar__text"></div>
        <button class="mdl-snackbar__action" type="button"></button>
    </div>

    <th:block layout:fragment="scripts" />

</body>
</html>
