<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout}"
      th:with="title = ${page.meta.title}, head = ${page.headMarkup}">
<body>

<th:block layout:fragment="head" th:replace="fragments/common :: meta(model = ${page})" />

<th:block layout:fragment="content">

    <div class="content card mdl-shadow--8dp">
        <nav th:if="${page.urlPathComponent != ''}">
            <a th:href="@{~/}" th:text="#{index.title}"></a>
        </nav>

        <h1 th:text="${page.h1}"></h1>

        <th:block th:utext="${page.bodyMarkup}" />
    </div>

</th:block>

<th:block layout:fragment="scripts">
    <th:block th:utext="${page.beforeBodyEndMarkup}" />
</th:block>

</body>
</html>