<?xml version="1.0" encoding="utf-8"?>
<th:blocK th:utext="'&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot;?&gt;'"/>
<th:blocK th:utext="'&lt;?xml-stylesheet title=&quot;XSL_formatting&quot; type=&quot;text/xsl&quot; href=&quot;feed.xsl&quot;?>'" />

<rss version="2.0" xmlns:th="http://www.thymeleaf.org/" >

    <channel>
        <title>Статьи на Javanese.Online</title>
        <description>Статьи о Java, Kotlin и Android</description>
        <link>http://javanese.online/%D1%81%D1%82%D0%B0%D1%82%D1%8C%D0%B8/</link>
        <pubDate th:text="${lastPubDate}">23 May 2007 00:00:00 GMT<b>Dummy!</b></pubDate>

        <item th:each="item : ${items}">
            <title th:text="${item.title}">JS: Resize an IFRAME based on its content</title>
            <description th:text="${item.description}">Using the onLoad event, resize the IFRAME</description>
            <link th:text="${item.link}">http://www.rgagnon.com/jsdetails/js-0129.html</link>
            <pubDate th:text="${item.pubDate}">23 May 2007 00:00:00 GMT</pubDate>
        </item>

    </channel>
</rss>
