<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      th:with="title = ${page.meta.title}">

<head>

    <th:block layout:fragment="head" th:replace="fragments/common :: meta(model = ${page.meta})" />

</head>

<body>

    <th:block layout:fragment="content">

        <div class="content card mdl-shadow--8dp">
            <nav>
                <a th:href="@{~/}" th:text="#{index.title}"></a>
            </nav>

            <h1 th:text="${page.h1}"></h1>

            <th:block th:utext="${page.bodyMarkup}" />

            <div class="no-pad mdl-tabs mdl-js-tabs mdl-js-ripple-effect content-padding-b">
                <menu class="mdl-tabs__tab-bar mdl-color-text--grey-600">
                    <a href="#lessons" class="mdl-tabs__tab is-active" th:text="#{tree.tab.lessons}">Уроки</a>
                    <a href="#tasks" class="mdl-tabs__tab" th:text="#{tree.tab.tasks}">Задачи</a>
                </menu>

                <nav class="mdl-tabs__panel is-active" id="lessons">
                    <ul th:replace="fragments/content :: coursesTree(courses = ${courses})"></ul>
                </nav>
                <nav class="mdl-tabs__panel" id="tasks">
                    <ul th:replace="fragments/content :: coursesTasksTree(courses = ${courses})"></ul>
                </nav>
            </div>
        </div>

    </th:block>

</body>
</html>
